.products__menu {
  margin: 60px 0;
}

.menu__title {
  text-align: center;
}

.menu__products--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 30px 0;
}

.item__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.452);
  visibility: hidden;
}

.menu__products--item {
  width: 30%;

  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 250px;

    &:hover .item__hover {
      visibility: visible;
    }
    & img {
      width: 100%;
      max-width: 300px;
      height: 250px;
    }
  }
}
